<div class="wrapper">
  <h1 class="title">A few words about this project.</h1>
  <p class="content">
    This is a University project in Information Technologies studies at
    Metropolitan University.<br /><br />
    Idea is to make traveling easier for people who are going to visit some
    unknown country for them. With this app, they will have important
    information about their future destination like Capital city, domains,
    calling codes, time zones, currency, languages, etc. For the implementation,
    I used a RESTful API - REST COUNTRIES which provides me all important
    information for any country.
  </p>
</div>
