<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="wrapper">
  <h2 class="title">Let's explore your next destination!</h2>

  <form class="example" action="action_page.php">
    <input
      type="text"
      placeholder="Please enter a country name"
      name="search"
      [(ngModel)]="userInput"
    />
    <button type="submit" (click)="getCountryInfo(userInput)">
      <i class="fa fa-search"></i>
    </button>
  </form>

  <div class="main-content" *ngFor="let info of contryInfo">
    <img src="{{ contryInfo[0].flag }}" class="image" alt="Smiley face" />

    <h3 class="headers">Native name: {{ contryInfo[0].nativeName }}</h3>
    <h3 class="headers">
      Capital city: {{ contryInfo[0].capital }}, Country population:
      {{ contryInfo[0].population }}
    </h3>
    <h3 class="headers">
      Region: {{ contryInfo[0].region }}, Subregion:
      {{ contryInfo[0].subregion }}
    </h3>
    <h3 class="headers">Currencies: {{ contryInfo[0].currencies[0].name }}</h3>
    <h3 class="headers">
      Top level domain: {{ contryInfo[0].topLevelDomain }}
    </h3>
    <h3 class="headers">Timezones: {{ contryInfo[0].timezones }}</h3>
  </div>
</div>
